<launch>
  <!-- <node pkg="orientation_estimater" type="estimater.py" name="tf_Anglerfish" respawn="true">
  </node>

  <include file="$(find imu_filter_madgwick)/launch/kalman_filter.launch"/>

  <include file="$(find anglerfish_thruster_mapper)/launch/thruster_mapper.launch"/> -->

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_kill">
    <param name="port" value="/dev/serial/by-id/usb-Teensyduino_USB_Serial_1962720-if00"/>
    <param name="baud" value="115200"/>
  </node>


</launch>
