<launch>
  <node pkg="ms5837" type="ms5837_script.py" name="MS5837" respawn="true">
  </node>

  <node pkg="stim300_ros" type="stim300lib.py" name="STIM300" respawn="true">
  </node>

  <node pkg="hmc5883l" type="teensy_hmc5883l.py" name="HMC5883L" respawn="true">
  </node>

  <node pkg="external_actuators" type="actuate.py" name="ACTUATORS" respawn="true">
  </node>

  <include file="$(find arduino_thruster_driver)/launch/thrusters.launch"/>

  <include file="$(find imu_filter_madgwick)/launch/kalman_filter.launch"/>

  <include file="$(find anglerfish_thruster_mapper)/launch/thruster_mapper.launch"/>

  <include file="$(find navigation)/launch/ekf.launch"/>

  <node pkg="controller" type="pd_controller.py" name="pd_controller" respawn="true">
  </node>

</launch>
