<launch>
  <node pkg="camera_stabilization" type="stabilizer.py" respawn="true">
  </node>

  <node pkg="ms5837" type="ms5837_script.py" name="MS5837" respawn="true">
  </node>

  <node pkg="ros_jade_stim300_driver" type="stim300.py" name="STIM300" respawn="true">
  </node>

  <node pkg="hmc5883l" type="hmc5883l_script.py" name="HMC5883L" respawn="true">
  </node>

  <node pkg="light_control" type="lights.py" name="LIGHTS" respawn="true">
  </node>

  <node pkg="t100_thruster" type="t100_feedback_script.py" name="thruster1" respawn="true">
	<rosparam param="register">41</rosparam>
	<rosparam param="name">"thruster1"</rosparam>
	<rosparam param="force">"thruster1_force"</rosparam>
  </node>
  <node pkg="t100_thruster" type="t100_feedback_script.py" name="thruster2" respawn="true">
        <rosparam param="register">42</rosparam>
	<rosparam param="name">"thruster2"</rosparam>
	<rosparam param="force">"thruster2_force"</rosparam>
  </node>
  <node pkg="t100_thruster" type="t100_feedback_script.py" name="thruster3" respawn="true">
        <rosparam param="register">43</rosparam>
        <rosparam param="name">"thruster3"</rosparam>
	<rosparam param="force">"thruster3_force"</rosparam>
  </node>
  <node pkg="t100_thruster" type="t100_feedback_script.py" name="thruster4" respawn="true">
        <rosparam param="register">44</rosparam>
        <rosparam param="name">"thruster4"</rosparam>
	<rosparam param="force">"thruster4_force"</rosparam>
  </node>
  <node pkg="t100_thruster" type="t100_feedback_script.py" name="thruster5" respawn="true">
        <rosparam param="register">45</rosparam>
        <rosparam param="name">"thruster5"</rosparam>
	<rosparam param="force">"thruster5_force"</rosparam>
  </node>
  <node pkg="t100_thruster" type="t100_feedback_script.py" name="thruster6" respawn="true">
        <rosparam param="register">46</rosparam>
        <rosparam param="name">"thruster6"</rosparam>
	<rosparam param="force">"thruster6_force"</rosparam>
  </node>

  <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>

  <include file="$(find razor_imu_9dof)/launch/razor-pub.launch"/>

  <node pkg="servo_control" type="move_servo.py" name="camera_servo" respawn="true">
  </node>

</launch>
