<launch>
  <node pkg="mag_calibration" type="mag_calibration_script.py" name="mag_cal" respawn="true">
  </node>

  <node pkg="camera_stabilization" type="stabilizer.py" name="stabilizer" respawn="true">
	<rosparam param="angle">345</rosparam>
  </node>

  <node pkg="ms5837" type="ms5837_script.py" name="MS5837" respawn="true">
  </node>

  <node pkg="ros_jade_stim300_driver" type="stim300.py" name="STIM300" respawn="true">
  </node>

  <node pkg="hmc5883l" type="hmc5883l_script.py" name="HMC5883L" respawn="true">
  </node>

  <node pkg="light_control" type="lights.py" name="LIGHTS" respawn="true">
  </node>

  <include file="$(find arduino_thruster_driver)/launch/thrusters.launch"/>

  <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>

  <include file="$(find razor_imu_9dof)/launch/razor-pub.launch"/>

  <node pkg="servo_control" type="move_servo.py" name="camera_servo" respawn="true">
  </node>

  <node pkg="orientation_estimater" type="estimater.py" name="tf_Anglerfish" respawn="true">
  </node>

  <include file="$(find imu_filter_madgwick)/launch/kalman_filter.launch"/>

  <include file="$(find anglerfish_thruster_mapper)/launch/thruster_mapper.launch"/>

  <include file="$(find navigation)/launch/ekf.launch"/>

  <!-- <node pkg="controller" type="pd_controller.py" name="pd_controller" respawn="true">
  </node> -->

</launch>
