<launch>
  <rosparam>
    busses:
      - port: /dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_75533343236351B002C1-if00
        thrusters:
          TOP: {
            node_id: 10,
            frame_id: /base_link,
            position: [0.041, 0.008, 0.012],
            direction: [0, 1, 0]
          }
          FL: {
            node_id: 11,
            frame_id: /base_link,
            position: [0.038, 0.242, 0.0],
            direction: [-1, 0, 0]
          }
          BL: {
            node_id: 10,
            frame_id: /base_link,
            position: [-0.104, 0.242, 0.008],
            direction: [0, 0, -1]
          }
          FR: {
            node_id: 11,
            frame_id: /base_link,
            position: [0.03, -0.242, 0.007],
            direction: [0, 0, -1]
          }
          BR: {
            node_id: 10,
            frame_id: /base_link,
            position: [-0.096, -0.241, 0.0],
            direction: [-1, 0, 0]
          }
          BTM: {
            node_id: 11,
            frame_id: /base_link,
            position: [0.041, .008, -0.12],
            direction: [0, -1, 0]
          }                    

  </rosparam>

  <!-- For now, this is only used by Gazebo -->
  <!-- TODO: unify! -->
  <!-- NOTE: BOUNDS ARE FOR SIMULATION ONLY -->
  <rosparam>
    thrusters:
      thruster_names: [TOP, FL, BL, FR, BR, BTM]
      TOP:
        position: [0.041, 0.008, 0.012]
        direction: [0, 1, 0]
        bounds: [-90, 90]

      FL:
        position: [0.038, 0.242, 0.0]
        direction: [-1, 0, 0]
        bounds: [-90, 90]

      BL:
        position: [-0.104, 0.242, 0.008]
        direction: [0, 0, -1]
        bounds: [-90, 90]

      FR:
        position: [0.03, -0.242, 0.007]
        direction: [0, 0, -1]
        bounds: [-90, 90]

      BR:
        position: [-0.096, -0.241, 0.0]
        direction: [-1, 0, 0]
        bounds: [-90, 90]

      BTM:
        position: [0.041, .008, -0.12]
        direction: [0, -1, 0]
        bounds: [-90, 90]
  </rosparam>

  <node pkg="anglerfish_thruster_mapper" type="mapper.py" name="thruster_mapper" />
</launch>